<div id="<%= dom_id oem_manufacturer %>">
  <p>
    <strong>Manufacturerid:</strong>
    <%= oem_manufacturer.manufacturerID %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= oem_manufacturer.name %>
  </p>

  <p>
    <strong>Contactdetails:</strong>
    <%= oem_manufacturer.contactDetails %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= oem_manufacturer.location %>
  </p>

</div>
