<div id="<%= dom_id retailer %>">
  <p>
    <strong>Retailerid:</strong>
    <%= retailer.retailerID %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= retailer.name %>
  </p>

  <p>
    <strong>Contactdetails:</strong>
    <%= retailer.contactDetails %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= retailer.location %>
  </p>

</div>
