<div id="<%= dom_id customer %>">
  <p>
    <strong>Customerid:</strong>
    <%= customer.customerID %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= customer.name %>
  </p>

  <p>
    <strong>Contactdetails:</strong>
    <%= customer.contactDetails %>
  </p>

  <p>
    <strong>Purchasedproducts:</strong>
    <%= customer.purchasedProducts %>
  </p>

</div>
