<div id="<%= dom_id product %>">
  <p>
    <strong>Productid:</strong>
    <%= product.productID %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Manufacturerdetails:</strong>
    <%= product.manufacturerDetails %>
  </p>

  <p>
    <strong>Partdetails:</strong>
    <%= product.partDetails %>
  </p>

</div>
