<div id="<%= dom_id supplier %>">
  <p>
    <strong>Supplierid:</strong>
    <%= supplier.supplierID %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= supplier.name %>
  </p>

  <p>
    <strong>Contactdetails:</strong>
    <%= supplier.contactDetails %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= supplier.location %>
  </p>

</div>
