<div id="<%= dom_id gorilla_glass %>">
  <p>
    <strong>Partid:</strong>
    <%= gorilla_glass.partID %>
  </p>

  <p>
    <strong>Materialtype:</strong>
    <%= gorilla_glass.materialType %>
  </p>

  <p>
    <strong>Dimensions:</strong>
    <%= gorilla_glass.dimensions %>
  </p>

  <p>
    <strong>Qualityrating:</strong>
    <%= gorilla_glass.qualityRating %>
  </p>

</div>
